
/* Section 01 start*/
.container-welcome-product{
    display: flex;
    align-items: center;
    justify-content: center;
}

.W-Watch-image{
    width: 450px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Discover-button{
    width: 120px;
    border: none;
    padding: 10px;
}

.Add-to-cart-Button{
    padding: 8px;
    background-color: #1E2A5E;
    border: none;
    color: white;
    border-radius: 4px;

}

/* Section 01 End*/



/* Section 02 start*/


.HR-line{
    width: 145px;
    margin-left: auto;
    margin-right: auto;
    color:orange;
    border-width: 4px;
    
}

.new-Arrivals{
    margin-top: 100px;
}








/* Section 02 End*/

/* Section 03 start*/

.conatiner-Border{
        display: flex;
        gap: 20px;
}


.left-image{
    width: 300px;
    height: 400px;
    background-color: black;
    border-radius: 20px;
}

.upper-mid{
    display: flex;
    gap: 10px;
   max-width: fit-content;
   max-height: fit-content;
   border-radius: 20px;
}

.upper-mid-section-1{
    background-color: red;
    width: 350px;
    height: 200px;
    border-radius: 20px;
}
.upper-mid-section-2{
    background-color: rgb(55, 255, 0);
    width: 350px;
    height: 200px;
    border-radius: 20px;
}



.mid-image{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.lower-mid{
    background-color: orange;
    width: 710px;
    height: 190px;
    border-radius: 20px;
}

.right-image{
    width: 300px;
    height: 400px;
    background-color: black;
    border-radius: 20px;
}



